*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1170px;
    margin: auto;
   /* border: 5px solid red; */
}
div{
box-sizing: border-box;
}
.headmenu{
    padding-top: 10px;
}
.logo{
background: url(img/hyp.png);
width: 100px;
height: 100px;
float: left;
}
header{
background: white;
height: 60px;
}
.menu{
padding: 10px 0 0 0;
margin: 0;
display: block;
float: right;
}
.menu li{
display: block;
float: left;
text-decoration: none;
text-transform:uppercase;
margin-right: 20px;
}
.menu li a{
    color: black;
}
.fh{
    width: 100%;
    height: 650px;
}


.afterhead{
    width: 100%;
    height: 650px;
    background: url(file:///C:/Users/Svende/Desktop/Maket3/img/gran.png) no-repeat center / cover;
}
.content-1{
    height: 450px;
    background: whitesmoke;
}
.inner-content-1{
    padding: 90px 0 0 0;
}
.kv{
    text-align: left;
    background: url(file:///C:/Users/Svende/Desktop/Maket3/img/kv.png);
    width: 270px;
    height: 270px;
    float: left;
}
.kv p{
    margin: 30px 20px 0 20px;
    color: white;
}
.kv2 p{
    margin: 30px 20px 0 20px;
    color: white;
}
.kv2{
    text-align: center;
    margin-left: 30px;
    background: url(file:///C:/Users/Svende/Desktop/Maket3/img/kv2.png);
    width: 270px;
    height: 270px;
    float: left;
}
.content-2{
    height: 480px;
    background: white;   
}
.inner-content-2{
    padding: 90px 0 0 0;
}
#fam{
    background: url(file:///C:/Users/Svende/Desktop/Maket3/img/fam.png);
    width: 550px;
    height: 315px;
    float: left;
}
.textic2{
    text-align: left;
    width: 550px;
    height: 315px;
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 50px;
    float: left;
}
.textic2 h1{
    color: rgb(44, 44, 44);
}
.afterc2{
    height: 650px;
    background: url(file:///C:/Users/Svende/Desktop/Maket3/img/woman.png) no-repeat center / cover;
}
.content-3{
    height: 550px;  
    box-sizing: border-box;
}
.inner-content-3{
    text-align: left;
    margin-top: 90px;
}
.box{
    margin-top: 20px;
    width: 330px;
    height: 230px;
    float: left;
}
.box p{
font-family: 'Work Sans', sans-serif;
float: left;
}
.box2{
    margin: 20px 70px 0px 70px;
}
.go{
    float: left;
    width: 50px;
    height: 50px;
    background: url(file:///C:/Users/Svende/Desktop/Maket3/img/go.png);
}
.go2{
    margin: 0 350px 0 350px;
}
.content4{
    background: greenyellow;
    height: 580px;
}
.inner-content-4{
    padding-top: 90px;
}
.boxinc4-1{
    margin-right: 30px;
    width: 570px;
    height: 400px;
    background: url(file:///C:/Users/Svende/Desktop/Maket3/img/boxinc2.png);
    float: left;
}
.boxin4-2{
    width: 570px;
    height: 400px;
    background: url(file:///C:/Users/Svende/Desktop/Maket3/img/boxinc2.png);
    float: left;
}
.content-5{
    height: 450px;
}
.inner-content-5{
padding-top: 90px;
}
.boxinc5{
    float: left;
    width: 370px;
    height: 270px;
    margin-left: 20px;
    background: url(file:///C:/Users/Svende/Desktop/Maket3/img/prg.png);
}
footer{
    height: 490px;
    background: whitesmoke;
}
.boxf{
    margin: 90px 0 0 0;
    width: 140px;
    height: 220px;
    float: left;
    text-decoration: none;
}
.boxf2{
    margin-left: 200px;
    text-decoration: none;
}
.imgf{
    margin: 20px 0 0 0;
    padding-right: 10px;
}
.boxf p{
    margin: 15px 0 0 0;
}
.boxf p a{
    text-decoration: none;
    color: gray;
  
}
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */

